<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav nav-tabs">
  
    <li> <%= link_to "INDECAN Mx", root_path %> </li>
    <li><%= link_to "Nosotros", welcome_nosotros_path %>   </li>
    <li><%= link_to "Candidatos Independientes", welcome_candidatos_path %> </li>  
    <li><%= link_to "Actividades", posts_path %></li>   
    <li><%= link_to "Iniciar Sesión", welcome_iniciar_path %> </li>  
    <li><%= link_to "Crear Perfil", welcome_crear_path %>   </li> 
  </ul>
  
<%= yield %>
  
  </div>

</body>
</html>
